.additional {
  padding-top: 10px;
}

.additional__main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  margin: 0 0 34px 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    min-width: 136px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;
  }
}

.additional__items {
  border: none;
  margin: 0 0 34px 0;
  padding: 0;
}

.additional__item {
  margin-bottom: 12px;
}

.additional__title {
  display: inline-flex;
  cursor: pointer;
}

.additional__item:last-child {
  margin-bottom: 0;
}

.additional__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: $basic-black;

  display: inline-flex;
  align-items: center;
  position: relative;
  min-height: 30px;
  padding-left: 46px;
}

.additional__description::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid $special-grey;
}

.additional__toggle:checked + .additional__description::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 15px;
  top: 8px;
  left: 5px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}
