.additional {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    width: 100%;
  }
}

.additional__inner {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.additional__main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  margin: 0 0 34px 0;
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      min-width: 30px;
      height: 2px;
      top: 20px;
      left: -70px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      min-width: 70px;
      left: -110px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    min-width: 136px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: -67px;
      min-width: 446px;
    }

    @media (min-width: $desktop-width) {
      right: -110px;
      min-width: 1078px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
}

.additional__items {
  border: none;
  margin: 0;
  padding: 0;
}

.additional__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional__item {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.additional__title {
  display: inline-flex;
  cursor: pointer;
}

.additional__item:last-child {
  margin-bottom: 0;
}

.additional__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: $basic-black;

  display: inline-flex;
  align-items: center;
  position: relative;
  min-height: 30px;
  padding-left: 46px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}


.additional__toggle:checked + .additional__description::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 15px;
  top: 8px;
  left: 5px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}
