.advantages {
  min-height: 420px;
  padding-top: 0;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;

  margin: 0 0 38px 0;
  padding: 0 5px 0 0;
}

.advantages__list {
  min-height: 300px;
  box-sizing: border-box;
  padding: 2px 0 4px 80px;
}

.advantages__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  min-height: 54px;

  padding: 0 5px 0 0;
  margin: 0 0 20px 0;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item--leaf::before,
.advantages__item--powder::before,
.advantages__item--tableware::before,
.advantages__item--clock::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -80px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.advantages__item--leaf::before {
  background-image: url("../img/leaf.svg");
}

.advantages__item--powder::before {
  background-image: url("../img/powder.svg");
}

.advantages__item--tableware::before {
  background-image: url("../img/tableware.svg");
}

.advantages__item--clock::before {
  background-image: url("../img/clock.svg");
}
