.advantages {
  padding-top: 0;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-1;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 11px;
    min-height: 372px;
  }
}

.advantages__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;

  margin: 0 0 38px 0;
  padding: 0 5px 0 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 75px;
  }
}

.advantages__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  min-height: 60px;

  padding: 0 0 0 80px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 37px;

    width: 249px;
    min-height: 280px;
    padding: 151px 0 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    width: 249px;
    min-height: 280px;
    padding-top: 151px;
    padding-right: 0;
    margin: 0;
  }
}

.advantages__item-text {
  position: relative;
  z-index: 2;

  padding: 0;
  padding-top: 2px;
  margin: 0;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item--leaf::before,
.advantages__item--powder::before,
.advantages__item--tableware::before,
.advantages__item--clock::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/leaf.svg");
}

.advantages__item--powder::before {
  background-image: url("../img/powder.svg");
}

.advantages__item--tableware::before {
  background-image: url("../img/tableware.svg");
}

.advantages__item--clock::before {
  background-image: url("../img/clock.svg");
}

@media (min-width: $tablet-width) {
  .advantages__item--leaf::after,
  .advantages__item--powder::after,
  .advantages__item--tableware::after,
  .advantages__item--clock::after {
    position: absolute;
    z-index: 1;
    content: attr(data-num);
    top: 0;
    left: 114px;

    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
  }
}

.advantages__linebreak {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
