.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    margin-left: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.button--order {
  margin-left: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 39px;
  }
}

.button--show-all {
  color: $special-dark-grey;
  background-color: $basic-grey;
  font-size: 16px;
  line-height: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
}

.button--order-extra {
  margin: 0;
}

.program__request {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    width: 282px;
    height: 52px;
    margin-left: 0;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}
