.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  border: none;
}

.button--order,
.button--pick-order,
.program__request {
  color: $basic-white;
  background-color: $basic-green;

  width: 100%;
}

.button--order {
  font-size: 16px;
  line-height: 20px;

  margin: 0;
}

.button--show-all {
  color: $special-dark-grey;
  background-color: $basic-grey;
  font-size: 16px;
  line-height: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  height: 60px;

  width: 100%;
}

.button--order-extra {
  margin: 0;
}

.program__request {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
