.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  border: none;
}

.button--order,
.button--pick-order,
.program__request {
  color: $basic-white;
  background-color: $basic-green;

  width: 100%;
}

.button--order {
  margin: 22px 0 0 0;
}

.button--show-all {
  color: $special-dark-grey;
  background-color: $basic-grey;

  width: 100%;
}

.button--order-extra {
  margin: 0;
}
