.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  border: none;
}

.button--pick-order,
.program__request {
  color: $basic-white;
  background-color: $basic-green;

  width: 100%;
}
