.cat-data {
  border-bottom: 1px solid $basic-grey-1;
}

.cat-data__item {
  padding: 0;
  margin: 0 0 14px 0;
}

.cat-data__item:last-child {
  margin-bottom: 23px;
}

.cat-data__title {
  display: flex;
  align-items: center;
}

.cat-data__field-name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.cat-data__item:nth-child(2) .cat-data__field-name {
  margin-right: 13px;
}

.cat-data__item:nth-child(3) .cat-data__field-name {
  margin-right: 16px;
}

.cat-data__item:nth-child(4) .cat-data__field-name {
  margin-right: 14px;
}

.cat-data__field-value {
  min-height: 45px;
  width: 100px;
  flex-grow: 1;

  padding-left: 15px;
  margin: 0;
  border: 1px solid $basic-grey-4;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    position: relative;
    top: 2px;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;

    position: relative;
    top: 2px;
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    position: relative;
    top: 2px;
  }
}
