.cat-data {
  border-bottom: 1px solid $basic-grey-1;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin-right: 80px;
    margin-bottom: 67px;
  }
}

.cat-data__inner {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cat-data__item {
  padding: 0;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-data__item:last-child {
  margin-bottom: 0;
}

.cat-data__title {
  display: flex;
  align-items: center;
}

.cat-data__field-name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-data__item:nth-child(2) .cat-data__field-name {
  margin-right: 13px;
}

.cat-data__item:nth-child(3) .cat-data__field-name {
  margin-right: 16px;
}

.cat-data__item:nth-child(4) .cat-data__field-name {
  margin-right: 14px;
}

.cat-data__field-value {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  min-height: 45px;
  width: 100px;
  flex-grow: 1;

  padding-left: 15px;
  margin: 0;
  border: 1px solid $basic-grey-4;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;


    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
  }
}
