.comment {
  margin-bottom: 38px;
  border-top: 2px solid $basic-green;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
    width: 100%;
  }
}

.comment__inner {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.comment__title {
  display: block;
}

.comment__field-description {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  background-color: $basic-white;
  width: 162px;
  padding-left: 20px;
  transform: translateY(-17px) translateX(-20px);
  display: block;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 52px;

    width: 259px;
    padding-left: 40px;
    transform: translateY(-23px) translateX(-40px);
  }
}

.comment__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: block;
  resize: vertical;
  padding: 8px 13px;
  margin: 0;
  width: 100%;
  min-height: 150px;

  border: 1px solid $special-grey;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 9px 18px;
    min-height: 174px;
  }
}
