.comment {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.comment__inner {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.comment__title {
  display: block;
}

.comment__field-description {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  display: block;
  margin-bottom: 33px;
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      min-width: 30px;
      height: 2px;
      top: 20px;
      left: -70px;
      background-color: $basic-green;
    }
  }

  &::after {
    position: absolute;
    content: "";
    min-width: 158px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: -67px;
      min-width: 478px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.comment__field {
  display: block;
  margin: 0;
  width: 100%;
  min-height: 150px;

  border: 1px solid $special-grey;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    padding-top: 10px;
    padding-left: 12px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;
    padding-top: 10px;
    padding-left: 12px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    padding-top: 10px;
    padding-left: 12px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
