.comment {
  padding-top: 11px;
  padding-bottom: 17px;
}

.comment__title {
  display: block;
}

.comment__field-description {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  display: block;
  margin-bottom: 33px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    min-width: 158px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;
  }
}

.comment__field {
  display: block;
  margin: 0;
  width: 100%;
  min-height: 150px;

  border: 1px solid $special-grey;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    padding-top: 10px;
    padding-left: 12px;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;
    padding-top: 10px;
    padding-left: 12px;
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    padding-top: 10px;
    padding-left: 12px;
  }
}
