.contacts {
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 51px;
    min-height: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
    padding-bottom: 51px;
    min-height: 201px;
    min-width: 570px;
    background-color: $basic-white;

    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.contacts--theme-grey {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 76px;
    padding-right: 90px;
  }
}

.contacts__promo {
  min-width: 135px;
  min-height: 64px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  margin: 0;
  padding-right: 5px;
  margin-right: 5px;
  overflow: hidden;
  max-width: 135px;

  @media (min-width: $tablet-width) {
    min-height: 84px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    max-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-height: 84px;
    padding-top: 3px;
  }
}

.contacts__address {
  min-width: 140px;
  min-height: 49px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
  margin: 0;
  padding-right: 5px;
  overflow: hidden;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    max-width: 250px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__linebreak {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
