.contacts {
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 0;
  min-height: 114px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 51px;
    min-height: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 51px;
    min-height: 201px;
    min-width: 570px;
    background-color: $basic-white;

    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.contacts--theme-grey {
  background-color: $basic-grey;
}

.contacts__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacts__promo {
  min-width: 140px;
  min-height: 64px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $special-black;

  margin: 0;

  @media (min-width: $tablet-width) {
    min-height: 84px;
  }

  @media (min-width: $desktop-width) {
    min-height: 84px;
  }
}

.contacts__address {
  min-width: 140px;
  min-height: 49px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: $special-dark-grey;

  margin: 0;
}
