.copyright {
  width: 100%;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 34px;
    padding: 0;
  }
}

.copyright__link {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:hover .copyright__logo {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 34px;
    padding: 0;
  }
}

.copyright__owner {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
}

.copyright__logo {
  fill: $special-grey-3;
}
