.footer-logo {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $basic-grey-1;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    width: 128px;
    height: 24px;
    padding: 0;
  }
}

.footer-logo__link {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;

  &:focus .footer-logo__graphics {
    opacity: 0.8;
  }
}

.footer-logo__graphics {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
