.footer-logo {
  width: 100%;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $basic-grey-1;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    width: 128px;
    height: 24px;
    padding: 0;
  }
}

.footer-logo__link {
  display: block;
  width: 128px;
  height: 24px;
}
