.goods {
  padding-top: 27px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.goods__catalog {
  padding-bottom: 45px;
}

.goods__catalog-inner {
  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.goods__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  margin-top: 0;
  margin-bottom: 41px;
  padding: 0 20px 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 164px;
  }
}

.goods__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.goods__item {
  min-height: 209px;

  padding: 19px 20px 24px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    min-width: 324px;
    min-height: 430px;
    background-color: $basic-grey;
    padding: 100px 36px 40px;
  }
}

.goods__item-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.goods__image {
  display: block;
  text-align: center;
  flex-grow: 1;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.goods__image--xs {
  margin-top: 30px;
}

.goods__image--xxs {
  margin-top: 27px;
}

.goods__image--xxxs {
  margin-top: 24px;
}

.goods__image--small {
  margin-top: 14px;
}

.goods__image--large {
  margin-top: 11px;
}

.goods__item-text-wrapper {
  width: 140px;
  flex-grow: 1;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.goods__title-link {
  display: block;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.goods__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  width: 76px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 0 auto;
  }
}

.goods__stats {
  margin: 0;
  padding: 0;
}

.goods__stats-wrapper {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    border-bottom: 1px solid $special-grey;
    padding-top: 7px;
    padding-bottom: 9px;
  }
}

.goods__number,
.goods__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
}

.goods__number {
  order: 1;
}

.goods__stats-wrapper:first-child .goods__number {
  padding-right: 3px;
}

.goods__button-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 3px;
    padding-right: 1px;
  }
}

.goods__all {
  position: relative;
  min-height: 208px;
  text-align: center;
  padding-top: 79px;
}

.goods__all-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  margin: 0 0 8px 0;
}

.goods__all::before,
.goods__all::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 40px;
  left: calc(50% - 15px);
  background-color: $basic-grey-3;
}

.goods__all::after {
  transform: rotate(90deg);
}

.goods__promo {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0 0 21px 0;
}

.goods__extra {
  border-top: 2px solid $basic-green;
}

.goods__extra-main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  width: 267px;
  padding-left: 20px;
  margin: 28px 0 34px;
  background-color: $basic-white;
  transform: translate(-20px, -44px);

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    width: 411px;
    padding-left: 37px;
    transform: translate(0, -50px);
  }
}

.goods__extra-list {
  margin-bottom: 40px;
}

.goods__extra-item {
  padding: 12px 0 18px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }
}

.goods__extra-title-link {
  display: inline-flex;
  margin: 0 0 13px 1px;
}

.goods__extra-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;
}

.goods__extra-info {
  display: flex;
  justify-content: space-between;

  margin: 0 0 15px 0;
}

.goods__extra-number,
.goods__extra-description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.goods__extra-number {
  order: 1;
}

.goods__extra-description {
  margin: 0;
}

.goods__extra-promo-wrapper {
  position: relative;

  text-align: center;
  padding-top: 186px;
  padding-bottom: 41px;

  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: calc(50% - 39px);
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.goods_extra-gift-icon {
  margin: 58px 0 48px;
}

.goods__extra-promo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  color: $basic-white;
}
