.goods {
  padding-bottom: 35px;
}

.goods__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  margin: 27px 0 41px 0;
  padding: 0 20px 0;
}

.goods__item {
  min-height: 209px;

  padding: 19px 20px 24px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }
}

.goods__item-wrapper {
  display: flex;
}

.goods__image {
  text-align: center;
  flex-grow: 1;
  min-width: 140px;
}

.goods__image--xs {
  margin-top: 30px;
}

.goods__image--xxs {
  margin-top: 27px;
}

.goods__image--xxxs {
  margin-top: 24px;
}

.goods__image--small {
  margin-top: 14px;
}

.goods__image--large {
  margin-top: 11px;
}

.goods__item-text-wrapper {
  width: 140px;
  flex-grow: 1;

  margin-bottom: 21px;
}

.goods__title-link {
  display: inline-flex;
  margin: 0 0 15px 0;
}

.goods__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;
}

.goods__stats {
  margin: 0;
  padding: 0;
}

.goods__stats-wrapper {
  display: flex;
  justify-content: space-between;
  width: 142px;

  margin: 0;
}

.goods__number,
.goods__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0;
}

.goods__number {
  order: 1;
}

.goods__stats-wrapper:first-child .goods__number {
  padding-right: 3px;
}

.goods__all {
  position: relative;
  min-height: 208px;
  text-align: center;
  padding: 79px 20px 0;
  border-bottom: 1px solid $special-grey;
}

.goods__all-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  margin: 0 0 8px 0;
}

.goods__all::before,
.goods__all::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 40px;
  left: calc(50% - 15px);
  background-color: $basic-grey-3;
}

.goods__all::after {
  transform: rotate(90deg);
}

.goods__promo {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0 0 21px 0;
}

.goods__extra-main-title {
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  color: $basic-black;

  margin: 28px 0 34px;

  &::before {
    position: absolute;
    content: "";
    min-width: 53px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;
  }
}

.goods__extra-list {
  margin-bottom: 40px;
}

.goods__extra-item {
  padding: 12px 0 18px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }
}

.goods__extra-title-link {
  display: inline-flex;
  margin: 0 0 13px 1px;
}

.goods__extra-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;
}

.goods__extra-info {
  display: flex;
  justify-content: space-between;

  margin: 0 0 15px 0;
}

.goods__extra-number,
.goods__extra-description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.goods__extra-number {
  order: 1;
}

.goods__extra-description {
  margin: 0;
}

.goods__extra-promo-wrapper {
  position: relative;

  text-align: center;
  padding-top: 186px;
  padding-bottom: 41px;

  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: calc(50% - 39px);
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.goods_extra-gift-icon {
  margin: 58px 0 48px;
}

.goods__extra-promo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  color: $basic-white;
}
