.goods {
  padding-top: 27px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 86px;
  }
}

.goods__catalog {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 99px;
  }
}

.goods__catalog-inner {
  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.goods__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin-left: 0;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.goods__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 61px;
    grid-row-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 57px;
  }
}

.goods__item {
  min-height: 209px;

  padding: 19px 20px 24px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      padding: 81px 0 0;
      background: none;
      background-color: $basic-white;
    }

    @media (min-width: $desktop-width) {
      padding-top: 90px;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    min-width: 324px;
    min-height: 511px;
    background: linear-gradient($basic-white 16%, $basic-grey 16%);
    padding: 0 36px 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding-left: 37px;
    padding-right: 38px;
    background: linear-gradient($basic-white 17%, $basic-grey 17%);
  }
}

.goods__item:nth-child(1) .goods__title,
.goods__item:nth-child(2) .goods__title,
.goods__item:nth-child(7) .goods__title {
  @media (min-width: $tablet-width) {
    padding-left: 3px;
  }
}

.goods__item:nth-child(3) .goods__title,
.goods__item:nth-child(4) .goods__title,
.goods__item:nth-child(5) .goods__title,
.goods__item:nth-child(6) .goods__title {
  @media (min-width: $tablet-width) {
    padding-left: 6px;
  }
}

.goods__item-wrapper {
  display: flex;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.goods__item-image-wrapper {
  text-align: center;
  flex-grow: 1;
  width: 140px;
  height: 111px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 200px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.goods__image {
  display: inline-flex;
}

.goods__image--xs {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
    margin-bottom: 34px;
  }
}

.goods__image--xxs {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
    margin-bottom: 34px;
  }
}

.goods__image--xxxs {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
    margin-bottom: 34px;
  }
}

.goods__image--small {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-bottom: 34px;
  }
}

.goods__image--large {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-bottom: 34px;
  }
}

.goods__image--large-chicken {
  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.goods__item-text-wrapper {
  width: 140px;
  flex-grow: 1;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 0;
  }
}

.goods__title-link {
  display: block;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 0 16px 0;
  }
}

.goods__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  width: 76px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: 0 auto;
  }
}

.goods__stats {
  margin: 0;
  padding: 0;
}

.goods__stats-wrapper {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    border-bottom: 1px solid $special-grey;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 2px;
  }
}

.goods__number,
.goods__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
}

.goods__number {
  order: 1;
}

.goods__stats-wrapper:first-child .goods__number {
  padding-right: 3px;
}

.goods__button-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 3px;
    padding-right: 1px;
  }
}

.goods__all {
  position: relative;
  text-align: center;
  padding-top: 59px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 428px;
    border: 2px solid $basic-grey;
    padding: 159px 35px 36px 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 158px;
  }
}

.goods__all-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 136px;
    margin: 0 auto 24px;
  }
}

.goods__all::before,
.goods__all::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 20px;
  left: calc(50% - 15px);
  background-color: $basic-grey-3;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 82px;
    left: calc(50% - 30px);
  }

  @media (min-width: $desktop-width) {
    top: 77px;
    left: calc(50% - 30px);
  }
}

.goods__all::after {
  transform: rotate(90deg);
}

.goods__promo {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto 86px;
  }
}

.goods__extra {
  border-top: 2px solid $basic-green;
}

.goods__extra-main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  width: 267px;
  padding-left: 20px;
  margin: 28px 0 -9px;
  background-color: $basic-white;
  transform: translate(-20px, -44px);

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    width: 411px;
    padding-left: 37px;
    transform: translate(0, -50px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-37px, -52px);
  }
}

.goods__extra-inner {
  @media (min-width: $tablet-width) {
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
  }
}

.goods__extra-list {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    min-width: 896px;
    margin-right: 79px;
    margin-bottom: 0;
  }
}

.goods__extra-item {
  padding: 12px 0 18px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: stretch;
  }
}

.goods__extra-title-link {
  display: inline-flex;
  margin: 0 0 13px 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: auto;
  }
}

.goods__extra-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.goods__extra-info {
  display: flex;
  justify-content: space-between;

  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 9px;
    min-width: 325px;
  }
}

.goods__extra-number,
.goods__extra-description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.goods__extra-number {
  order: 1;

  @media (min-width: $tablet-width) {
    min-width: 94px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 80px;
    text-align: left;
  }
}

.goods__extra-description {
  margin: 0;
}

.goods__extra-promo-wrapper {
  position: relative;

  text-align: center;
  padding-top: 186px;
  padding-bottom: 41px;

  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 71px;
    padding-bottom: 69px;
    background-image: url("../img/gift-photo-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    height: 289px;
    padding-top: 188px;
    padding-bottom: 42px;
    justify-content: center;
    background-image: url("../img/gift-photo-desktop.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: calc(50% - 39px);
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 58px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      top: 58px;
      left: calc(50% - 39px);
    }
  }
}

.goods_extra-gift-icon {
  margin: 58px 0 48px;
}

.goods__extra-promo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-right: 124px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0;
  }
}
