.main-navigation {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    width: 480px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: -48px;
  right: 17px;
  width: 25px;
  height: 25px;
  font-size: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: transparent;
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  &::after {
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  &:checked {
    &::before {
      transform: rotate(0);
      box-shadow: 0 8px 0 0 $basic-black;
    }

    &::after {
      transform: rotate(0) translateY(-8px);
    }
  }
}

.main-navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-width: 440px;
  }
}

.main-navigation__item {
  border-top: 1px solid $special-grey-1;
  min-height: 65px;
  text-align: center;
  padding: 22px 20px 21px;

  &:last-child {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $special-grey-1;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    min-height: 24px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: 8px;
    min-height: 24px;
    border-top: none;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--active-desktop {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.main-navigation__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-flex;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      color: $basic-white;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
