.main-navigation {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: -49px;
  right: 30px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 7px;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-width: 440px;
  }
}

.main-navigation__item {
  border-top: 1px solid $special-grey-1;
  min-height: 65px;
  text-align: center;
  padding: 22px 20px 21px;

  &:last-child {
    border-bottom: 1px solid $special-grey-1;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 24px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    min-height: 24px;
    border-top: none;
  }
}

.main-navigation__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-flex;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;
  }

  &--form {
    @media (min-width: $desktop-width) {
      color: $basic-black;
    }
  }
}
