.map__wrapper {
  position: relative;
}

.map__embedded {
  position: absolute;
  width: 100vw;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.map__image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
