.owner-data {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 100%;
  }
}

.owner-data__inner {
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.owner-data__main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  min-height: 52px;

  margin: 0 0 31px 0;
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      min-width: 30px;
      height: 2px;
      top: 20px;
      left: -70px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      min-width: 70px;
      left: -110px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    min-width: 99px;
    height: 2px;
    top: 15px;
    right: -22px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: -67px;
      min-width: 145px;
    }

    @media (min-width: $desktop-width) {
      right: -110px;
      min-width: 778px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.owner-data__inner-flex {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.owner-data__item {
  min-height: 45px;

  padding: 0;
  margin: 0 0 14px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      margin-right: 78px;
    }
  }
}

.owner-data__title {
  display: flex;
  position: relative;
  align-items: center;
}

.owner-data__title--email::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon_email.svg");
  background-repeat: no-repeat;
}

.owner-data__title--tel::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.owner-data__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  margin-right: 10px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-data__field {
  min-height: 46px;
  width: 100px;
  flex-grow: 1;

  padding-left: 15px;
  margin: 0;
  border: 1px solid $basic-grey-4;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    position: relative;
    top: 2px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      top: 4px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;

    position: relative;
    top: 2px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      top: 4px;
    }
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    position: relative;
    top: 2px;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      top: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 52px;
  }
}
