.owner-data {
  margin-bottom: 35px;
  border-top: 2px solid $basic-green;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
    width: 100%;
  }
}

.owner-data__inner {
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.owner-data__main-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  min-height: 52px;
  background-color: $basic-white;
  max-width: 221px;
  padding-left: 20px;
  transform: translateY(-17px) translateX(-20px);
  margin: 0 0 14px 0;
  padding-bottom: 3px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 36px;

    max-width: 593px;
    padding-left: 40px;
    transform: translateY(-23px) translateX(-40px);
  }
}

.owner-data__inner-grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 78px;
    grid-row-gap: 20px;
  }
}

.owner-data__item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 45px;
  max-width: 87.5vw;
  padding: 0;
  margin: 0 0 14px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.owner-data__title {
  display: inline-flex;
  order: 0;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 14px;
  }
}

.owner-data__title--email {
  &::before {
    content: "";
    position: absolute;
    margin-top: 8px;
    right: 15px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icon-email.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 17px;
      padding-right: 6px;
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 5px;
  }
}

.owner-data__title--tel::before {
  content: "";
  position: absolute;
  margin-top: 6px;
  right: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    right: 16px;
    margin-top: 0;
  }
}

.owner-data__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  max-width: 30vw;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    max-width: 15vw;
  }
}

.owner-data__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 46px;
  width: 100px;
  order: 1;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 40px;
  margin: 0;
  border: 1px solid $basic-grey-4;

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    outline: none;
    border: 2px solid $special-dark-grey;

    &::-webkit-input-placeholder {
      transform: translateX(-1px);
    }

    &::placeholder {
      transform: translateX(-1px);
    }

    &:-ms-input-placeholder {
      transform: translateX(-1px);
    }
  }

  &:disabled {
    border: 2px solid $special-dark-grey;
    background-color: $basic-white;
  }

  &--error {
    border: 2px solid $status-error;
  }

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::-moz-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-weight: normal;
      font-size: 20px;
      line-height: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
  }
}

.owner-data__field--email {
  min-width: 220px;

  &:disabled ~ .owner-data__title--email::before {
    background-image: url("../img/icon-email-disabled.svg");
    background-repeat: no-repeat;
  }

  &-error ~ .owner-data__title--email::before {
    background-image: url("../img/icon-email-error.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.owner-data__field--tel {
  min-width: 204px;

  &:disabled ~ .owner-data__title--tel::before {
    background-image: url("../img/icon-phone-disabled.svg");
    background-repeat: no-repeat;
  }

  &-error ~ .owner-data__title--tel::before {
    background-image: url("../img/icon-phone-error.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding-left: 19px;
  }
}
