.owner-data {
  padding-top: 26px;
  padding-bottom: 2px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.owner-data__main-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  min-height: 52px;

  margin: 0 0 32px 0;
}

.owner-data__item {
  min-height: 45px;

  padding: 0;
  margin: 0 0 14px 0;
}

.owner-data__title {
  display: flex;
  position: relative;
  align-items: center;
}

.owner-data__title--email::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon_email.svg");
  background-repeat: no-repeat;
}

.owner-data__title--tel::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.owner-data__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  margin-right: 9px;
}

.owner-data__field {
  min-height: 46px;
  width: 100px;
  flex-grow: 1;

  padding-left: 15px;
  margin: 0;
  border: 1px solid #E7E7E7;

  &::-webkit-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;
  }

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    opacity: 1;
  }

  &:-ms-input-placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;
  }
}
