.page-footer__wrapper {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__logos {
  background-color: $basic-grey;
}

.page-footer__logos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0;
    padding-bottom: 8px;
    min-height: 150px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0;
    min-height: 150px;
  }
}
