.page-header {
  position: relative;
  z-index: 3;
}

.page-header__wrapper {
  @media (max-width: $mobile-width-only) {
    padding: 12px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.page-header__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo {
  margin: 0 0 12px 20px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
