.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    padding: 24px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo-wrapper {
  min-height: 65px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    min-width: 174px;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    min-width: 174px;
    min-height: 52px;
  }
}

.page-header__logo {
  margin-top: 12px;
  display: inline-block;
}
