.page {
  height: 100%;
}

.page__body {
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .page__body--index-background::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50vw;
    height: 696px;
    background-image:
      linear-gradient($basic-white 0%, $basic-green-op-085 0%),
      url("../img/index-background-desktop-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0, -5px 5px;
  }
}
