.page {
  height: 100%;
}

.page__body {
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  /*max-width: 320px;*/
  min-height: 100%;
  margin: 0;
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .page__body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 1044px;
    height: 696px;
    background-image: url("../img/index-background-desktop-big.jpg");
    background-repeat: no-repeat;
  }

  .page__body::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 1044px;
    height: 696px;
    background-color: $basic-green-op-085;
  }
}
