.program__wrapper {
  padding-top: 27px;
}

.program__main-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;

  margin: 0;
}

.program__instructions {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 36px;

  color: $basic-black;

  padding-right: 30px;
  margin: 37px 0 39px 0;
}

.program__selection {
  padding: 20px 0 9px 0;

  border-bottom: 1px solid $basic-grey-1;
}

.program__types {
  border: none;
  padding: 0 20px 0;
  margin: 0;
}

.program__item {
  min-height: 30px;
  margin-bottom: 13px;
  padding-left: 45px;

}

.program__title {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  padding: 6px 0 0 0;
}

.program__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -44px;
    width: 28px;
    height: 28px;
    border: 1px solid $special-grey;
    border-radius: 50%;
  }
}

.program__toggle:checked + .program__value::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -37px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;
}

.program__note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $basic-black;

  margin: 21px 0 32px 0;
}
