.program__form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    padding-bottom: 72px;
  }
}

.program__wrapper {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }
}

.program__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;

  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 0 30px;
  }
}

.program__instructions {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 36px;

  color: $basic-black;

  padding-right: 30px;
  margin: 37px 0 40px 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
    margin-left: 0;
    padding-right: 2px;
  }
}

.program__selection {
  border-bottom: 1px solid $basic-grey-1;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-bottom: 71px;
  }
}

.program__selection-inner {
  padding: 14px 20px 3px;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-right: 0;
    border: 1px solid $basic-grey-1;
  }
}

.program__types {
  border: none;
  padding: 0;
  margin: 0;
}

.program__list {
  padding-bottom: 10px;
}

.program__item {
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.program__title {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  padding: 6px 0 0 0;
}

.program__value {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  padding-left: 45px;
  min-height: 30px;

  display: inline-flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.program__toggle:checked + .program__value::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;
}

.program__footer-inner {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }
}

.program__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $basic-black;

  margin: 21px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
