.program {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.program__form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.program__wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 90px;

    display: flex;
    flex-wrap: wrap;
  }
}

.program__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;

  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.program__instructions {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 36px;

  color: $basic-black;

  padding-left: 20px;
  padding-right: 30px;
  margin: 37px 0 38px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 395px;
    padding-left: 70px;
    padding-right: 2px;
    margin-top: 52px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 66px;
    padding-left: 0;
    width: 100%;
  }
}

.program__instructions-linebreak {
  @media (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.program__selection {
  border-bottom: 1px solid $basic-grey-1;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    width: 571px;
    margin-bottom: 0;
  }
}

.program__selection-inner {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.program__types {
  border: none;
  padding: 0;
  margin: 0;

  padding-top: 21px;

  @media (min-width: $tablet-width) {
    border: 1px solid $basic-grey-1;
    padding-top: 18px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 17px;
  }
}

.program__list {
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.program__item {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.program__title {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  padding: 0;
}

.program__value {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  padding-left: 45px;
  min-height: 30px;

  display: inline-flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -4px;
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.program__toggle:checked + .program__value::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.program__footer-inner {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $basic-black;

  margin: 21px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}
