.promo {
  position: relative;

  background:
    linear-gradient($basic-green-op-085 63%, $basic-white 63%),
    url("../img/index-background-desktop.png"),
    linear-gradient($basic-green 63%, $basic-white 63%);
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient($basic-green-op-085 63%, $basic-white 63%),
      url("../img/index-background-desktop@2x.png"),
      linear-gradient($basic-green 63%, $basic-white 63%);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:
      auto,
      320px,
      auto;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    min-height: 584px;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 3;
  text-align: center;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 79%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: 278px;
  }
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    text-align: left;
    min-height: 871px;
    padding-top: 62px;

    background-image: url("../img/index-can-tablet.png");
    background-position: 50% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
      background-size: 709px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 107px;
    min-height: 584px;

    background-image: url("../img/index-can-desktop.png");
    background-position: calc(50% + 114px) 29%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px;
    }
  }
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;

    width: 530px;
    margin: 0 0 36px 87px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;

    width: 530px;
    margin: 0 0 35px 80px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  margin: 20px 0 297px 0;
  padding: 5px 20px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;

    width: 530px;
    margin: 0 0 44px 68px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;

    width: 530px;
    margin: 0 0 47px 68px;
    padding-left: 12px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 3px;
}
