.promo {
  min-height: 480px;
  box-sizing: border-box;
  padding: 0;

  background-image:
    url("../img/green-mask-mobile.png"),
    url("../img/index-background-desktop.jpg"),
    url("../img/green-mask-opacity-100.png");
  background-repeat:
    repeat-x,
    no-repeat,
    repeat-x;
  background-position-x: center;
}

.promo__wrapper {
  text-align: center;
  max-width: 320px;
  background-repeat: no-repeat;

  padding-top: 27px;
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  margin: 20px 0 24px 0;
  padding: 5px 20px;
  box-sizing: border-box;
}

.promo__image {
  display: block;
  margin: 0 auto 3px;
}
