.results {
  padding: 27px 0 12px;
  background-color: $basic-grey-2;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white calc(57% + 3px), $basic-grey-2 calc(57% + 3px));
    padding: 43px 0 2px;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($basic-white 30%, $basic-grey 30%);
    padding: 0;

    display: flex;
    justify-content: space-between;
  }
}

.results__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.results__info-wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 75px;
  }
}

.results__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  padding: 0 5px 0 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
    min-height: 60px;

    margin-top: 58px;
  }
}

.results__details {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  min-height: 108px;

  margin: 33px 0 24px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    min-height: 72px;
    width: 100%;
    padding-right: 10px;

    margin: 65px 0 53px 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 96px;
    margin: 146px 0 69px 0;
    padding-right: 145px;
  }
}

.results__linebreak--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.results__linebreak--tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.results__linebreak--desktop {
  @media (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.results__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin-bottom: 0;
  }
}

.results__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.results__number {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  width: 124px;
  color: $basic-black;
  text-transform: uppercase;
  padding: 14px 10px 16px;
  flex-grow: 1;
  overflow: hidden;

  border: 1px solid $special-grey;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
  }
}

.results__description {
  position: relative;
  width: 87px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  background-color: $basic-grey-2;
  overflow: hidden;
  padding: 0 5px;
  margin: -10px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 127px;
    font-size: 14px;
    line-height: 14px;
    margin: 11px 0 0 0;
    padding: 0;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.results__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    min-height: 49px;
  }

  @media (min-width: $desktop-width) {
    min-width: 327px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 31px;
  }
}


.results__toggles-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    height: 73px;
    justify-content: flex-end;
    padding-top: 28px;
  }
}

.results__toggles {
  width: 100%;
  min-height: 40px;

  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 15px;
  }
}

.results__legend {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 100%;
  overflow: hidden;

  color: $basic-black;

  &--before {
    order: 0;
    margin-left: 4px;
    margin-right: 5px;

    @media (min-width: $tablet-width) {
      margin-right: 12px;
      margin-left: 0;
    }
  }

  &--after {
    order: 2;
    margin-left: 3px;

    @media (min-width: $tablet-width) {
      margin-left: 6px;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px dotted $basic-black-op-040;
  }
}
