.results {
  padding: 27px 0 15px;
  background-color: $basic-grey-2;

  @media (min-width: $tablet-width) {
    background: linear-gradient($basic-white 57%, $basic-grey-2 57%);
    padding: 43px 0 15px;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($basic-white 25%, $basic-grey-2 25%);
    padding: 0;

    display: flex;
    justify-content: space-between;
  }
}

.results__info-wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.results__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  padding: 0 5px 0 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
    min-height: 60px;

    margin-top: 58px;
  }
}

.results__details {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  min-height: 108px;

  margin: 33px 0 40px 0;
  padding: 0 5px 0 0;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    min-height: 72px;
    width: 100%;

    margin: 63px 0 69px 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    min-height: 96px;
    width: 100%;

    margin: 63px 0 69px 0;
  }
}

.results__linebreak--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.results__linebreak--tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.results__linebreak--desktop {
  @media (max-width: $desktop-width - 1px) {
    display: none;
  }
}

.results__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin-bottom: 0;
  }
}

.results__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border: 1px solid $special-grey;
  border-radius: 5px;

  width: 124px;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.results__number {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-transform: uppercase;

  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
  }
}

.results__description {
  width: 87px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  background-color: $basic-grey-2;

  padding: 0 5px;
  margin: 9px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 127px;
    font-size: 14px;
    line-height: 14px;
    margin: 11px 0 0 0;
    padding: 0;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    width: 127px;
    margin: 11px 0 0 0;
  }
}

.results__price {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    min-height: 49px;
  }

  @media (min-width: $desktop-width) {
    min-width: 327px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.results__photos-wrapper {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.results__photo img {
  min-height: 232px;
  object-fit: cover;
}

.results__toggles-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 66px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 707px;
    height: 78px;
  }
}

.results__toggles {
  min-width: 228px;
  min-height: 40px;

  margin: 0 0 0 0;
  padding: 0 10px 0;
  text-align: center;
}

.results__legend {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.results__legend--before {
  order: 0;
}

.results__legend--after {
  order: 2;
}
