.results {
  min-height: 705px;
  box-sizing: border-box;
  padding: 27px 20px 15px;
  background-color: $basic-grey-2;
}

.results__wrapper {
  margin: 0 auto;
}

.results__title {
  font-family: "Oswald 400", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0;
  padding: 0 5px 0 0;
}

.results__details {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  margin: 33px 0 40px 0;
  padding: 0 5px 0 0;
}

.results__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 19px 0;
}

.results__item {
  display: flex;
  flex-direction: column;
}

.results__number {
  position: relative;
  font-family: "Oswald 400", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-transform: uppercase;
}

.results__number::before {
  position: absolute;
  content: "";
  top: -15px;
  left: -20px;
  width: 124px;
  height: 56px;
  background-image: url("../img/weight-back.svg");
  background-repeat: no-repeat;
}

.results__description {
  width: 80px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;

  margin: 7px 0 0 0;
}

.results__price {
  font-family: "Oswald 400", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  margin: 0 0 42px 0;

  color: $basic-black;
}

.results__photos {
  margin: 0 0 23px 0;
}

.results__photo img {
  min-height: 232px;
  object-fit: cover;
}

.results__toggles {
  box-sizing: border-box;
  min-width: 228px;
  min-height: 40px;

  margin: 0 0 0 0;
  padding: 10px 10px 0;
  text-align: center;
}

.results__legend {
  display: inline-block;

  font-family: "Oswald 400", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $basic-black;

  padding: 0 10px 15px;
}
