.slider {
  width: 280px;
  min-height: 308px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 642px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 534px;
  }
}

.slider__list {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 242px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 532px;
    display: flex;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    height: 534px;
    display: flex;
    transform: translateX(30px);
  }
}

.slider__item {
  position: absolute;
  width: 280px;
  height: 242px;
  transition: opacity 0.3s;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 354px;
    height: 524px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 325px;
    height: 534px;
  }
}

.slider__item--after {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.slider__toggles--mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 226px;
  height: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggles--tablet {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  width: 600px;
  height: 30px;
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    width: 596px;
    padding-right: 0;
    margin-right: 3px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.slider__track {
  order: 1;
  position: relative;
  width: 84px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid $special-grey;

  @media (max-width: $mobile-width-only) {
    right: -6px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 6px;
    top: 3px;
    left: 4px;
    background-color: $basic-green;
    border-radius: 3px;
    transition: all 0.5s;
  }
}

.slider__toggle:checked ~ .slider__track::before {
  transform: translateX(40px);
}

.slider__range::-webkit-slider-thumb {
  position: relative;

  appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("../../img/slider-control.svg");
}

.slider__range::-moz-range-thumb {
  position: relative;

  appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("../../img/slider-control.svg");
}

.slider__range {
  order: 1;
  width: 428px;

  appearance: none;
  height: 6px;
  background-color: $basic-grey-5;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }

  &:hover ~ .slider__legend {
    border-bottom: 2px solid $special-grey-3;
  }

  &:hover {
    &::-webkit-slider-thumb {
      background: url("../../img/slider-control-hover.svg");
      transform: translateX(-1px);
    }

    &::-moz-range-thumb {
      background: url("../../img/slider-control-hover.svg");
      transform: translateX(-1px);
    }
  }

  &:active ~ .slider__legend {
    border-bottom: none;
  }

  &:active {
    &::-webkit-slider-thumb {
      background: url("../../img/slider-control-active.svg");
      transform: translateX(-2px);
    }

    &::-moz-range-thumb {
      background: url("../../img/slider-control-active.svg");
      transform: translateX(-2px);
    }
  }
}
