.slider {
  width: 280px;
  min-height: 308px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 642px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 534px;
  }
}

.slider__list {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 242px;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 532px;
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 16px;
  }
}

.slider__item {
  position: absolute;
  width: 280px;
  height: 242px;
  transition: opacity 0.3s;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 534px;
  }
}

.slider__item--after {
  @media (min-width: $tablet-width) {
    top: 10px;
    right: 3px;
    width: 50%;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.slider__item--after img,
.slider__item--before img {
  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;
    object-fit: none;
  }
}

.slider__item--after img {
  @media (min-width: $tablet-width) {
    object-position: 100%;
  }

  @media (min-width: $desktop-width) {
    object-position: calc(100% - 26px);
  }
}

.slider__item--before img {
  @media (min-width: $tablet-width) {
    object-position: 0;
  }

  @media (min-width: $desktop-width) {
    object-position: calc(0% - 26px);
  }
}

.slider__item--before {
  @media (min-width: $tablet-width) {
    top: 10px;
    left: 0;
    width: 50%;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.slider__toggles--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggles-inner--mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 37px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__legend-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover .slider__legend {
    border-bottom: 2px solid $basic-black-op-040;
    transform: translateY(1px);

    @media (min-width: $tablet-width) {
      transform: translateY(0);
    }
  }

  &:focus {
    outline: none;

    & > .slider__legend {
      border-bottom: 2px solid $basic-black-op-040;
      transform: translateY(1px);

      @media (min-width: $tablet-width) {
        transform: translateY(0);
      }
    }
  }

  &:active {
    & > .slider__legend {
      border-bottom: none;
      transform: translateY(0);
    }
  }
}

.slider__toggles--tablet {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  width: 607px;
  height: 32px;
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    width: 596px;
    padding-right: 0;
    margin-right: 3px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.slider__track {
  position: relative;
  cursor: pointer;
  width: 84px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid $special-grey;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 6px;
    top: 3px;
    left: 4px;
    background-color: $basic-green;
    border-radius: 3px;
    transition: all 0.5s;
  }
}

.slider__toggle:not(:checked) ~ .slider__toggles-inner .slider__track::before {
  transform: translateX(40px);
}

.slider__range::-webkit-slider-thumb {
  position: relative;

  appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("../../img/slider-control.svg");
}

.slider__range::-moz-range-thumb {
  position: relative;

  appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("../../img/slider-control.svg");
}

.slider__range {
  width: 428px;

  appearance: none;
  height: 6px;
  background-color: $basic-grey-5;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }

  &:hover ~ .slider__legend {
    border-bottom: 2px solid $special-grey-3;
  }

  &:hover {
    &::-webkit-slider-thumb {
      background: url("../../img/slider-control-hover.svg");
      transform: translateX(-1px);
    }

    &::-moz-range-thumb {
      background: url("../../img/slider-control-hover.svg");
      transform: translateX(-1px);
    }
  }

  &:active ~ .slider__legend {
    border-bottom: none;
  }

  &:active {
    &::-webkit-slider-thumb {
      background: url("../../img/slider-control-active.svg");
      transform: translateX(-2px);
    }

    &::-moz-range-thumb {
      background: url("../../img/slider-control-active.svg");
      transform: translateX(-2px);
    }
  }
}
