.socials {
  width: 100%;
  border-bottom: 1px solid $basic-grey-1;
}

.socials__inner {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;
}

.socials__button {
  display: inline-flex;
}
