.socials {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $basic-grey-1;
  }
}

.socials__inner {
  width: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 27px;
    padding-bottom: 4px;
    width: 159px;
  }
}

.socials__button {
  display: inline-flex;

  &:focus .socials__network {
    fill: $basic-green;
  }

  &:focus .socials__network--facebook {
    stroke: $basic-green;
  }
}

.socials__network {
  fill: $special-grey-3;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    stroke: $special-grey-3;

    &:hover {
      stroke: $basic-green;
    }

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 30px;
    }
  }
}
