.socials {
  min-height: 62px;
  padding: 0 20px 0;
  background-color: $basic-grey;
  text-align: center;
}

.socials__wrapper {
  box-sizing: border-box;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;

  border-bottom: 1px solid $basic-grey-1;
}

.socials__button {

}
