.socials {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $basic-grey-1;
  }
}

.socials__inner {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.socials__button {
  display: inline-flex;

  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      padding-left: 12px;
      padding-bottom: 4px;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-left: 26px;
      padding-bottom: 1px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-left: 21px;
      padding-bottom: 4px;
    }
  }
}

.socials__network {
  fill: $special-grey-3;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    stroke: $special-grey-3;

    &:hover {
      stroke: $basic-green;
    }

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 30px;
    }
  }
}
