.weight-change {
  padding-top: 22px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.weight-change__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.weight-change__item {
  position: relative;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 0 20px;
  padding: 30px 18px 22px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 77px 18px 53px 52px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    padding: 77px 18px 59px 52px;
    margin: 0;

    flex-grow: 1;
  }
}

.weight-change__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: auto 0 29px 68px;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    max-width: 400px;
    margin: 0;
    margin-bottom: 25px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 73px 162px;
    padding-right: 0;
  }
}

.weight-change__item--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 80px;
    left: 446px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 40px;
    left: 52px;
    background-size: cover;
  }
}

.weight-change__item--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 90px;
    left: 411px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 45px;
    left: 33px;
    background-size: cover;
  }
}

.weight-change__slogan {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  border-bottom: 1px solid $basic-grey-1;

  min-height: 113px;
  margin: auto 0 19px;
  padding: 0 10px 21px 2px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    width: 377px;
    padding-right: 3px;
    margin-bottom: 31px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    min-height: 72px;
    padding-right: 2px;
    margin-bottom: 6px;
  }

  &--pro {
    @media (min-width: $tablet-width) {
      padding-right: 35px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 15px;
    }
  }
}

.weight-change__link {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding-left: 1px;
  margin-top: auto;
  text-transform: uppercase;
  color: $basic-black;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    position: absolute;
    content: "";
    right: -50px;
    width: 32px;
    height: 10px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: -60px;
    }
  }

  &:hover::after {
    background-image: url("../img/arrow-long.svg");
  }

  &:focus::after {
    background-image: url("../img/arrow-long.svg");
  }

  &:active {
    opacity: 0.3;
  }
}
