.weight-change {
  min-height: 601px;
  padding-top: 22px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 15px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    padding: 0 110px 0;
    margin-bottom: 71px;
  }
}

.weight-change__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.weight-change__item {
  position: relative;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 0 20px;
  padding: 30px 18px 19px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 77px 18px 53px 52px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    padding: 77px 18px 59px 52px;
    margin: 0;

    flex-grow: 1;
  }
}

.weight-change__item:first-child {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.weight-change__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: auto 0 29px 68px;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 0 162px;
  }
}

.weight-change__item--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 80px;
    left: 440px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 47px;
    left: 52px;
    background-size: cover;
  }
}

.weight-change__item--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 80px;
    left: 405px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 35px;
    background-size: cover;
  }
}

.weight-change__slogan {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  border-bottom: 1px solid $basic-grey-1;

  min-height: 90px;
  margin: auto 0 19px;
  padding: 0 10px 23px 2px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    width: 377px;
    padding-right: 2px;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    width: 467px;
    min-height: 72px;
    padding-right: 2px;
    margin-top: 73px;
    margin-bottom: 27px;
  }
}

.weight-change__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.weight-change__link::after {
  position: absolute;
  content: "";
  top: 2px;
  right: -50px;
  width: 32px;
  height: 10px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 10px;
    right: -60px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    right: -60px;
  }
}
