// Colors

$basic-white: #ffffff;
$basic-green: #68b738;
$basic-green-op-085: rgba(104, 183, 56, 0.85);
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-1: #d9d9d9;
$basic-grey-2: #eaeaea;
$basic-grey-3: #d3d3d3;
$basic-grey-4: #e7e7e7;
$basic-grey-5: #dcdcdc;
$special-grey: #cdcdcd;
$special-grey-1: #e6e6e6;
$special-grey-2: #ebebeb;
$special-grey-3: #666666;
$special-grey-4: #bababa;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$basic-black: #000000;
$special-black: #111111;
$status-error: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
