// Colors

$basic-white: #FFFFFF;
$basic-green: #68B738;
$basic-green-2: #5EAA2F;
$basic-grey: #F2F2F2;
$basic-grey-1: #D9D9D9;
$basic-grey-2: #EAEAEA;
$special-grey: #CDCDCD;
$special-grey-1: #E6E6E6;
$special-grey-2: #EBEBEB;
$special-grey-3: #666666;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$basic-black: #000000;
$special-black: #111111;
$status-error: #FF8282;

